body {
  background-color: #fffbf7;
  margin: 0;
}

.header {
  margin: 40px 20px 0;
  font-size: 0;
  height: 100%;
  line-height: 45px;
  font-family: sans-serif;
}

.header .menu-item {
  display: inline;
  margin: 0 8px;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}

.header .logo {
  width: 20%;
  height: 40px;
}

.header .logo img {
  height: 100%;
}

.header .navbar {
  width: 60%;
  text-align: center;
  color: #025157;
}

.header .navbar ul {
  padding: 0;
}

.header .actions {
  width: 20%;
  text-align: right;
  font-size: 14px;
}

.header .actions > * {
  margin: 0 10px;
}

.header .actions a {
  color: #67b54b;
}

.header .actions button {
  background-color: #67b54b;
  color: white;
  padding: 12px 14px;
  border: 0;
  border-radius: 5px;
}

.main {
  margin-top: 140px;
  text-align: center;
}

.main h1 {
  color: #025157;
  font-family: "Alegreya", serif;
  font-size: 3.75rem;
  font-weight: 900;
}

.main h4 {
  color: #46484c;
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  margin-bottom: 30px;
}

.texto-promocional {
  margin-top: 15px;
  color: #8b8b8bcc;
  font-size: 16px;
  font-family: 'Open Sans', serif;
}

.signup-form {
  height: 55px;
}

.texto-boton {
  font-size: 1rem;
  height: 100%;
  padding: 6px 20px;
  margin-left: -10px;
  color: #fff;
  background-color: #025157;
  border-radius: 8px;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-main {
  font-size: 1rem;
  height: calc(100% - 14px);
  border: 1px solid #b6b6b6;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 6px 20px;
  max-width: 250px;
}

.main .banner {
  margin-top: 32px;
}

.main .intro {
  margin-top: 32px;
}

.main .intro img {
  width: 70%;
}

